@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;500;700&display=swap');


html,
body {
    --custom-font-family: 'Sofia Sans', sans-serif;
    --custom-bg-color: #101010;
    --custom-panel-color: #222;
    --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
    --custom-color: #fff;
    --custom-color-brand: #24b47e;
    --custom-color-secondary: #666;
    --custom-border: 1px solid #333;
    --custom-border-radius: 5px;
    --custom-spacing: 5px;

    padding: 0;
    margin: 0;
    font-family: var(--custom-font-family);
    background-color: var(--custom-bg-color);
    overflow-x: hidden;
}

* {
    color: var(--custom-color);
    font-family: var(--custom-font-family);
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 100px;
}

.container form {
    text-align: center;
}

form,
input {
    color: black;
}