@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;500;700&display=swap');
@import "open-props/open-props.min.css";

*,
*::before,
*::after {
    font-family: var(--custom-font-family);
    box-sizing: border-box;
}

html,
body {
    --custom-font-family: 'Sofia Sans', sans-serif;
    --custom-bg-color: #101010;
    --custom-panel-color: #222;
    --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
    --custom-color: #fff;
    --custom-color-brand: #24b47e;
    --custom-color-secondary: #666;
    --custom-border: 1px solid #333;
    --custom-border-radius: 5px;
    --custom-spacing: 5px;

    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    font-family: var(--custom-font-family);
    background-color: var(--custom-color);
    overflow-x: hidden;
}